header {
  position: "fixed";
  z-index: 1;
  width: "100%";
  display: flex;
  flex-direction: row;
}

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  min-width: 8rem;
}

.ant-layout {
  background-color: white !important;
  height: 100vh;
}

.ant-col{
  padding:0 !important;
}
.ant-row{
  margin-left: 0px !important;
  margin-right: 0px!important;
}


/* -----  Google Font  -----*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  color: #9E9E9E;
  font-size: 14px;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 400;
  letter-spacing: 0.5px;
}